body {
  margin: 0px;
}

.write {
  font-family: "Satisfy", cursive;
  color: #fdc913;
}
.fullContent {
  width: 100%;
  color: #fff;
}
.contentPage {
  background-color: #ce2829;
  height: 85vh;
}
.contentdr {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  gap: 2rem;
}
